* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
  background-color: rgb(254, 253, 250);
  text-align: center;
}

h1 {
  width: 100%;
  margin: 2rem auto;
}

img {
  width: 200px;
  display: flex;
  margin: 2rem auto .5rem auto;
}

p {
  margin: 0;
  padding-top: 0;
}

h2 {
  margin-top: 4rem;
}